@import "../variables.scss";

.ap-container {
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    align-items: center;
    position: relative;
    min-height: 150px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    .ability {
        font-weight: bold;
    }
    .value {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .modifier {
        border: 1px solid $grey;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        width: 46px;
        height: 46px;
        line-height: 46px;
        position: absolute;
        bottom: -23px;
        background-color: white;
    }
}

.cube {
    display: inline-block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    margin: 0 12px;
    border: 1px solid $grey;
    border-radius: 4px;
}
