$primary: #caebf2;
$accent: #ff3b3f;
$grey: #a9a9a9;
$neutral: #efefef;

$maxWidth: 1000px;

$headerHeight: 48px;

// Breakpoint
// desktop first + mobile first (max and min width)
$dsm: "575px";
$sm: "576px";

$dmd: "767px";
$md: "768px";

$dlg: "991px";
$lg: "992px";
